body {
	background-color: #2c3e50;
}

ul {
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 2em;
	list-style-type: none;
    text-align: right;
	margin-bottom: 15px;
}

li {
	color: #FFFFFF;
	display: inline-block;
}

#left-column {
    float: left;
    margin: 0;
    width: 33%;
}

#right-column {
    float: bottom;
    margin: 0;
    width: 50%;
}

#name-title {
    font-family: "bebas_neuebold", sans-serif;
    font-size: 3em;
    color: #D0C190;
    line-height: 10%;
    letter-spacing: 3px;
}

#name-desc {
    font-family: "bebas_neuebold", sans-serif;
    font-size: 3em;
    color: #FFFFFF;
    line-height: 10%;
    letter-spacing: 3px;
}

hr {
    margin-left: 0px;
    margin-bottom: 50px;
    width: 40%;
}

#about {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #FFFFFF;
}

#menu-link {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	color: #FFFFFF;
}

#inline-link {
	display: inline-block;
	text-decoration: none;
	color: #D0C190;
}

footer {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875em;
	color: #FFFFFF;
    position: fixed;
    bottom: 40px;
    width:99%;
    height:40px;   /* Height of the footer */
}

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: 'bebas_neuebold';
    src: url('fonts/bebasneue_bold-webfont.eot');
    src: url('fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuebook';
    src: url('fonts/bebasneue_book-webfont.eot');
    src: url('fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_book-webfont.woff') format('woff'),
         url('fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('fonts/bebasneue_regular-webfont.eot');
    src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}